In [1]:
# Imports
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [2]:
# Config matplotlib plot
%matplotlib inline
plt.rcParams['figure.figsize'] = (40, 20)
plt.rcParams['axes.titlesize'] = (30)
plt.rcParams['axes.titlepad'] = (10)
plt.rcParams['axes.labelsize'] = (20)

In [7]:
# Import data
filename = 'OMA-project-data.csv'
df = pd.read_csv(filename)
df = df.drop(["LINK", "TYPOLOGY_02", "@Photos", "Unnamed: 11", "IMG_", "URL STRING"], axis=1)

#add decade col
def create_decade(x):
    d = str(x['YEAR'])
    e = d[:3] + "0s"
    return e

df['DECADE'] = df.apply(create_decade, axis=1)

df.head(10)

,DESCRIPTION,YEAR,TYPE,STATUS,TYPOLOGY_01,REM?,TEAM_01,TEAM_02,TEAM_03,TEAM_04,...,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109,DECADE
0,Delirious New York,1978,Publication,Publication,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970s
1,Dutch Parliament Extension,1978,Project,Competition,Office,True,Zaha Hadid,Richard Perlemutter,Ron Steiner,Elias Veneris,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970s
2,Irish Prime Minister's Residence,1979,Project,Competition,Office,True,Alan Forster,Stefano de Martino,Ron Steiner,Elia Zenghelis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970s
3,Boompjes,1980,Project,Commissioned Study,Residential,True,Kees Christiaanse,Gerard Comello,Stefano de Martino,Jeroen Thomas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980s
4,Kochstrasse / Friedrichstrasse Housing,1980,Project,Competition,Residential,True,Herman de Kovel,Stefano de Martino,Richard Perlemutter,Ricardo Simonini,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980s
5,Koepel Panopticon Prison,1980,Project,Commissioned Study,Infrastructure,True,Mike Guyer,Thijs de Haan,Vahé Kalousdian,Brigitte Kochta,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980s
6,Lützowstrasse Housing,1980,Project,Competition,Residential,False,Norman Chang,Omri Eytan,Katerina Galani,Andreas Kourkoulas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980s
7,Parc de la Villette,1982,Project,Competition,Landscape,True,Kees Christiaanse,Stefano de Martino,Ruurd Roorda,Ron Steiner,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980s
8,Exposition Universelle,1983,Project,Design Development,Masterplan,True,Kees Christiaanse,Stefano de Martino,Willem-Jan Neutelings,Ron Steiner,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980s
9,Churchillplein,1984,Project,Competition,Office,True,Kees Christiaanse,Jaap van Heest,Götz Keller,Jeroen Thomas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980s

In [72]:
status_dict = {
               "Commissioned Study": 1,
               "Competition": 2,
               "Completed": 4,
               "Construction": 2,
               "Demolished": 2,
               "Design Development": 2,
               "Lecture": 0,
               "Publication": 4,
               "Study": 0
               }

typology_dict = {
                 "N/A": 0,
                 "Arena": 0,
                 "Branding": 1,
                 "Education": 2,
                 "Exhibition": 2,
                 "Hotel": 2,
                 "Industrial": 0,
                 "Infrastructure": 0,
                 "Landscape": 2,
                 "Library": 3,
                 "Masterplan": 3,
                 "Mixed use": 4,
                 "Museum / Gallery": 3,
                 "Office": 0,
                 "Product Design": 0,
                 "Research": 0,
                 "Residential": 1,
                 "Restaurant / Bar": 0,
                 "Retail": 2,
                 "Scenography": 3,
                 "Theatre": 3,
                 "Tower": 0
                 }

decades_dict = {
                "1970s": 5,
                "1980s": 3,
                "1990s": 1,
                "2000s": 0
                }


dict_dict = {
            "STATUS": status_dict,
            "TYPOLOGY_01": typology_dict,
            "DECADE": decades_dict
            }

In [73]:
def set_value (dictionary, key):
    max_dict = max([i for i in dictionary.values()])
    x = dictionary[key] / max_dict
    return x

def importance_factor(y):
    z = []
    
    for k in dict_dict:
        try:
            m = dict_dict[k]
            n = y[k]
            z.append(set_value(m, n))
        except:
            pass
    
    a = float(len(z))
    b = float(sum(z))
    return (b/a)

In [76]:
df['IMPORTANCE'] = df.apply(importance_factor, axis=1)

df.sort_values("IMPORTANCE", ascending=False).head(1)

,DESCRIPTION,YEAR,TYPE,STATUS,TYPOLOGY_01,REM?,TEAM_01,TEAM_02,TEAM_03,TEAM_04,...,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109,DECADE,IMPORTANCE
0,Delirious New York,1978,Publication,Publication,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970s,1.0

In [79]:
# Organise columns
cols = df.columns.tolist()
cols = cols[-2:] + cols[:-2]
df = df[cols]
df.head(1)

,DECADE,IMPORTANCE,DESCRIPTION,YEAR,TYPE,STATUS,TYPOLOGY_01,REM?,TEAM_01,TEAM_02,...,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109
0,1970s,1.0,Delirious New York,1978,Publication,Publication,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
team_cols = df.loc[:, 'TEAM_01':].columns.tolist()
team_cols_len = len(team_cols)

def create_team(x):
    y = []
    for i in team_cols:
        y.append(x[i])
    return y

df["TEAM LIST"] = df.apply(create_team, axis=1)
df.head(1)

,DECADE,IMPORTANCE,DESCRIPTION,YEAR,TYPE,STATUS,TYPOLOGY_01,REM?,TEAM_01,TEAM_02,...,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109,TEAM LIST
0,1970s,1.0,Delirious New York,1978,Publication,Publication,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ..."

In [92]:
def find_names(name):
    x = []
    z = df["TEAM LIST"]
    for i in z:
        y =  x.append(name in i)
        x.append(y)
    return x

find_names("Kees Christiaanse")

[False,
 None,
 False,
 None,
 False,
 None,
 True,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 True,
 None,
 True,
 None,
 True,
 None,
 True,
 None,
 True,
 None,
 True,
 None,
 False,
 None,
 False,
 None,
 True,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 True,
 None,
 False,
 None,
 True,
 None,
 False,
 None,
 False,
 None,
 True,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 True,
 None,
 False,
 None,
 True,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 True,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 True,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None,
 False,
 None]